<p id="notice"><%= notice %></p>

<%= @website %>

<hr>

<footer>
<p>
  <h2>Понравилась работа автора?</h2>
  <%= link_to  "Посмотреть все работы", @path_to_author %> 
</p>
<p>&copy; Company 2014</p>
</footer>

</div><!--/.container-->

