
<div class="main_block">
  <div class="website">
    <div class="name_site">
      <h3 class="name">My name is trololololo</h3>
    </div>
    <div class="description">
      <p class="description"> то время, пока я размышлял над реализацией плагина, меня посетила типичная для большинства разработчиков мысль -"неужели из 7 миллиардов людей на всем земном шаре не нашлось человека у которого возникла бы и</p>
    </div>
    <div class="info">
      <div class="date">
        <p class="date">12.31.4000</p>
      </div>
      <div class="likes">
        <p class="likes">likes: 1024</p>
      </div>
    </div>
  </div>
   <div class="website">
  </div>
   <div class="website">
  </div>
   <div class="website">
  </div>
   <div class="website">
  </div>
   <div class="website">
  </div>
   <div class="website">
  </div>
     <div class="website">
  </div>
     <div class="website">
  </div>
     <div class="website">
  </div>
     <div class="website">
  </div>

</div>